<div class="comments">
  {{#each this}}
  <section class="comment">
    <p class="comment-name">
      <span class="user">{{user.username}}</span> <span class="date">{{format_date created_at}}</span>
    </p>
    <p class="comment-text"> 
      {{comment_text}}
    </p>
  </section>
  {{/each}}
</div>