<section class="vh-100 gradient-custom login-register-content">
    <div class="card bg-dark text-white" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">
            <form class="login-form">
                <h2 class="login-h fw-bold mb-2 text-uppercase">Login</h2>
                <p class="text-white-50 mb-5">Please enter your username and password!</p>
                <div>
                    <label for="username-login">Username</label>
                    <input type="text" id="username-login" class="form-control form-control-lg" />
                </div>
                <div>
                    <label for="password-login">Password</label>
                    <input type="password" id="password-login" class="form-control form-control-lg"/>
                </div>
                <div>
                    <button class="btn btn-outline-light btn-lg px-5" type="submit">login</button>
                </div>
            </form>
        </div>
    </div>
  
  <h1 class="text-muted">OR</h1>

  <div class="card bg-dark text-white" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">
            <form class="signup-form">
                <h2 class="login-h fw-bold mb-2 text-uppercase">Register</h2>
                <p class="text-white-50 mb-5">Please register your username and password!</p>
                <div>
                    <label for="username-signup">Username</label>
                    <input type="text" id="username-signup" class="form-control form-control-lg" />
                </div>
                <div>
                    <label for="password-signup">Password</label>
                    <input type="password" id="password-signup" class="form-control form-control-lg"/>
                </div>
                <div>
                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</section>

<script src="/javascript/login.js"></script>